In [13]:
import csv
import pandas as pd


df = pd.read_excel(io='C:/Users/19258/Downloads/sample_data_v3.xlsx')
df.head(20)

,Unnamed: 0,id,month,mon_hrs_played,mon_fr_ref,sub,money_paid,acct_open,sword,guild,sw_a_g
0,1,1,0,11.760199,0,0,6.331182,1,0,0,0
1,2,1,1,12.187032,2,1,11.366928,1,1,1,1
2,3,1,2,12.833026,1,1,11.423984,1,1,1,1
3,4,1,3,14.180672,1,0,3.228610,1,1,1,1
4,5,1,4,16.260199,4,1,25.449738,1,1,1,1
5,6,1,5,18.339727,4,1,26.863170,1,1,1,1
6,7,1,6,19.687373,4,1,27.113175,1,1,1,1
7,8,1,7,20.333367,4,1,27.097623,1,1,1,1
8,9,1,8,20.598324,4,1,25.863895,1,1,1,1
9,10,1,9,20.699964,4,1,25.468295,1,1,1,1
10,11,1,10,20.737946,5,1,25.972129,1,1,1,1
11,12,2,0,11.706993,0,0,9.459913,1,0,0,0
12,13,2,1,0.000000,0,0,0.000000,0,0,0,0
13,14,2,2,0.000000,0,0,0.000000,0,0,0,0
14,15,2,3,0.000000,0,0,0.000000,0,0,0,0
15,16,2,4,0.000000,0,0,0.000000,0,0,0,0
16,17,2,5,0.000000,0,0,0.000000,0,0,0,0
17,18,2,6,0.000000,0,0,0.000000,0,0,0,0
18,19,2,7,0.000000,0,0,0.000000,0,0,0,0
19,20,2,8,0.000000,0,0,0.000000,0,0,0,0

In [20]:
temp_df = (df[df.acct_open == 1])

temp_df_2 = temp_df.loc[temp_df.groupby('id').month.idxmax()]

final_df = temp_df_2[temp_df_2.month != 10]

hours_played_prior_to_close = final_df["mon_hrs_played"].mean()

print(hours_played_prior_to_close )

10.553258047964055